/* Default Settings */
*{
  box-sizing: border-box;
}
html, body, div, p, h1, h2, h3, h4, h5, h6,
header, nav, section, footer, a, ul, li, span,
main, form, fieldset, legend, input, textarea{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
fieldset{
  border: none;
}
/* Top Menu Style */
.menu{
  display: none;
}
.header-section{
  background: gray;
  position: fixed;
  width: 100%;  
}
.l1, 
.l2, 
.l3{
  width: 25px;
  height: 3px;
  background: black;
}
.l2{
  margin: 3px 0px;
}
.mobile-menu-button{
  border:none;
  background: gray;
  margin: 20px;
}
.mobile-menu-list{
  display: none;
}
.hero-section{
  text-transform: uppercase;
  padding: 12%;
}
.hero-wrapper{
  padding: 150px 0px;
  text-align: center;
}
.hero-title{
  font-size: 2em;
  padding: 10px 0px;
}
.projects-section{
  background: lightgray;
  padding: 20px;
}
.projects{
  margin-bottom: 70px;
}
.projects:last-child{
  margin-bottom: 30px;
}
.projects img{
  width: 100%;
  padding: 10px;
  max-width: 500px;
}
.tools-used{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.project-section-title,
.about-me-section-title,
.contact-section-title{
  border-bottom: 2px solid black;
  display: inline-block;
  text-align:center;
  margin: 40px 0px;
}
.about-me-wrapper{
  text-align: center;
  padding: 0px 30px;
}
.about-me-section{
  margin-bottom: 40px;
}
.bio{
  text-align: left;
  padding-bottom: 30px;
}
.about-me-links{
  display: flex;
  justify-content: flex-end;
}
.project-short-info{
  padding: 20px;
  line-height: 1.2em;
  text-align: left;
}
.tools-used-header{
  border-bottom: 2px solid black;
  padding-bottom: 2px;
  margin-bottom: 10px;
}
.web-button{
  border: none;
  text-transform: uppercase;
  background: gray;
  color: white;
  font-size: 0.9em;
  font-weight: 600;
  padding: 5px 20px;
  cursor: pointer;
}
.web-button:hover, 
.web-button:focus{
  background: black;
  transition: .3s;
}
.project-title{
  padding: 20px;
}
.project-links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.contact-section{
  background: lightgray;
  text-align:center;
  padding-bottom: 40px;
}
.contact-section-wrapper{
  max-width: 600px;
  margin: auto;
  padding: 20px;
}
.contact-section-wrapper{
  max-width: 600px;
}
.feedback-form{
  padding-top:20px;
}
.feedback-form-label{
  display: block;
  text-align: left;
  padding-top:20px;
  padding-bottom: 5px;
  font-weight: 600;
}
.feedback-form input[type='text']{
  width: 100%;
  padding: 10px;
}
.feedback-form textarea{
  width: 100%;
  height: 200px;
  padding: 10px;
  margin-bottom: 30px;
}
.footer-section{
  padding: 30px;
  text-align: center;
}
/* Teblets and smaller screens */
@media only screen and (max-width: 989px){
  .project-wrapper{
    max-width: 500px;
    margin: auto;
    text-align: center;
  }
  .projects{
    display: flex;
    flex-direction: column;
  }
  .projects:nth-of-type(even) img{
    order: 1;
  }
  .projects:nth-of-type(even) .project-info{
    order: 2;
  }
}

/* Larger Screens */
@media only screen and (min-width: 990px){
  .mobile-menu{
    display: none;
  }
  .menu{
    display: block;
  }
  .menu-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .menu-list-item{
    margin: 0px 40px;
  }
  .menu-list-item a{
    display: inline-block;
    padding: 15px 10px;
    color: white;
    text-transform: uppercase;
  }
  .project-wrapper{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
  }
  .projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .project-info{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: center;
  }
  .about-me-wrapper{
    max-width: 1050px;
    margin: auto;
  }
}
