*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
body, p, div, nav, header, section{
    padding: 0;
    margin: 0;
}
.top-menu-section{
    padding: 10px;
    text-align: center;
    background: black;
    color: white;
    position: fixed;
    width: 100%;
}
.hero-section{
    font-size: 3vw;
    padding: 12%;
    text-align: center;
}
.projects-section{
    text-align: center;
    background: #e0e0e0;
    padding: 20px;
    font-size: 2em;
    font-weight: 800;
}
.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.project-1, 
.project-2, 
.project-3{
    height: 600px;
    max-width: 500px;
    background: white;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-holder{
    background: gray;
    height: 200px;
    width: 90%;
    margin: 20px;
    color:white;
}
.project-content{
    max-width: 500px;
    padding: 20px;
    font-size: .8em;
}
.about-me-section{
    background: gray;
    text-align: center;
    padding: 150px 20px;
    color: white;
}
.contact-me-section{
    background: #e0e0e0;
    text-align: center;
    padding: 150px 20px;
}
.footer-section{
    background: gray;
    text-align: center;
    padding: 20px;
    color: white;
}
